*{box-sizing: border-box;}
body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    display: block;
}
/**************************/
/* ABOUT US */
/**************************/

.about-text {
    background-color: #f7f9fc; 
    padding: 4rem 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: 2rem auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.8; 
    color: #2c3e50; 
  }
  
  .about-text p {
    margin-bottom: 1.5rem;
  }
  
  .about-text strong {
    color: #6692d4; 
    font-weight: 700; 
  }
  

  /**************************/
/* ABOUT US IMAGE*/
/**************************/

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fc;
    padding: 4rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    color: #2c3e50;
  }
  
  .about-text {
    margin-bottom: 2rem;
  }
  
  .about-text p {
    margin-bottom: 1.5rem;
  }
  
  .about-text strong {
    color: #6692d4;
    font-weight: 700;
  }
  
  .about-image {
    text-align: center;
    margin-top: 2rem;
  }
  
  .about-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  

#home{
    background-color: rgba(253,242,233,255);
    padding-bottom: 5%;
}



#home  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

#home .top img {
    width: 13%;
    padding: 30px;
}
#home  .top    .links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
#home  .top  .links ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    font-size: 21px;
}

#home   .top   .links ul li {
    list-style: none;
    padding: 10px 20px;
}

#home  .top   .links ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 30px;
}

#home   .top   .links ul li a:hover {
    color: #FDC938;
}


.button-primary {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #6692d4;
    border-radius: 13px;
    color: #fff; /* Font color set to white */
    border: none;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    font-weight: 500px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 45px;
    margin-top: 12px;
    margin-right: 50px;
    margin-left: 30px;
    
}

.button-primary:hover {
    background-color: #cf6a1b; /* Change background color on hover */
}
.f-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.f-sec  .intro{
    width: 50%;
    margin-left: 15%;
    margin-right: 2%;
}
.image{
    width: 50%;
    margin-right: 15%;
    margin-top: 5%;

}
.image img{
    width: 100%;
    
}

.intro  h1{
    font-size: 3.6rem;
    color: #333;
    margin-top: 7rem;
}
.intro  p{
    
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: #555;
    

}
.home-buttons{
    display: flex;
    flex-direction: row;
    
}

.f-sec .intro .home-buttons .orange{
    text-decoration: none;
    padding: 11px 19px;
    background-color: #6692d4;
    border-radius: 8px;
    color: #fff; /* Font color set to white */
    border: none;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    font-weight: 500px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-right: 10px;
    
}
.f-sec .intro .home-buttons .orange:hover{
    background-color: #6692d4; 
}
.f-sec .intro .home-buttons .white{
    text-decoration: none;
    padding: 11px 25px;
    background-color: #fff;
    border-radius: 8px;
    color: #333; /* Font color set to white */
    border: solid #fff;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    font-weight: 500px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-right: 10px;
    
}
.f-sec .intro .home-buttons .white:hover{
    background-color: rgba(253,242,233,255); 
}
.f-sec .intro .collection{
    display:flex;
    flex-direction: row;
    align-items: center;

}
.f-sec .intro .collection .pics{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-right: 15px;
}
.f-sec .intro .collection .pics img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid #fff;
}
.f-sec .intro .collection  .words{
    margin-top: 75px;
    color: rgb(85, 85 ,85);
    font-size: 1.5rem;
    font-weight: 600;
}
.f-sec .intro .collection  .words span{
    color: rgb(43, 73, 128);
    font-weight:700;
}
#featured{
background-color: #fff;
}

#featured h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: rgb(136, 136, 136);
}
#featured .fea-pics{
    display: flex;
    justify-content: space-around;
    max-width: 120rem;
    margin-right: 20%;
    margin-left: 20%;


}
#featured .fea-pics img{

    height: 2.0rem;
    filter: brightness(0);
    opacity: 50%;
}
#sec-2{
    padding: 3.2rem;
    max-width: 120rem;
    width: 100%;
   
}
    
#sec-2 span{

    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: #6692d4;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    letter-spacing: 0.75px;
    margin-top: 2.5rem;
    margin-left: 15%;
    }
#sec-2 h2{
    
    font-size: 3.8rem;
    line-height: 1.0;
    margin-bottom: 9.6rem;
    margin-left: 15%;

}
.step{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:15% ;
}
.step .step-words{
    margin-bottom: 12rem;
}
.step .step-img{
    margin-right: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}
.step .step-img::before {
    width: 80%;
    padding-bottom: 80%;
    background-color: rgb(253, 242, 233);
    z-index: -2;
    
}

.step .step-img::after {
    width:60%;
    padding-bottom: 60%;
    background-color:#fae5d3;
    z-index: -2;
    
}


.step .step-img::before, .step .step-img::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.step .step-img img{
    width: 50%;
}


.step .step-words .step-number{
    
        font-size: 8.6rem;
        font-weight: 600;
        color: #ddd;
        margin-bottom: 1.2rem;
    
}
.step .step-words .step-head{
        font-size: 1.7rem;
        line-height: 1.2;
        margin-bottom: 3.2rem;
        font-weight: 900;
    
}
.step .step-words .step-paragraph{
    
        font-size: 1.3rem;
        line-height: 1.8;
    }

#meals span {
        display: block;
        font-size: 1.3rem;
        font-weight: 600;
        color:#6692d4 ;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
        letter-spacing: 0.75px;
        text-align: center;
        
    }


#meals p{
    text-align: center;
    color: #333;
    font-size: 3.8rem;
    line-height: 0.8rem;
    margin-bottom: 5rem;
    font-weight: 700;


}
#meals .flex-meals{
    display:flex;
    flex-direction: row;
}
#meals .meal{
    
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    height: 550px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 16rem;

     } 
 #meals .meal:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    

#meals .meal img{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 11px;
    
}
.meal-content{

        padding: 2rem 2rem 4.8rem 2rem;
        border-radius: 11px;

    }

#meals .meal .meal-content span{
        display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #333;
        border-radius: 100px;
        font-weight: 600;
        background-color: #51cf66;
}
#meals .meal .meal-content .title{
        font-size: 1.5rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 2.2rem;
}
.components{
    width: 100%;
   
}

/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
  
    display: none;
  }
  
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  /* STICKY NAVIGATION */
  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }
  
  .sticky .section-hero {
    margin-top: 9.6rem;
  }
  
.word-components{
    display: flex;
    font-size: 1.3rem;
}
.word-components i{
    margin-right: 15px;
    height: 2.4rem;
    width: 2.4rem;
    color: #6692d4;


}
.tags{
    display: flex;
    flex-direction:row ;
    margin-left:45px;
    margin-bottom: 30px;
}
.tags .tag-1{
    display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #333;
        border-radius: 100px;
        font-weight: 600;
        background-color: #94d82d;
        margin-right: 20px;
}
.tags .tag-2{
    display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #333;
        border-radius: 100px;
        font-weight: 600;
        background-color:  #ffd43b;
}
.diets{
    margin-left: 8rem;
    
}
.diets h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
}
.diets .list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.diets .list {
    font-size: 1.3rem;
}
.diets .list ul li i{
    width: 3rem;
    height: 2rem;
    color: #6692d4;
    font-weight: 0;
}
.all{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.all a{
    color:#6692d4;
    font-size: 17px;
    line-height: 5px;
}
.all a:hover{
    text-decoration: none;
}
#Testimonials{
    background-color: rgba(253,242,233,255);
    width: 100%;
    display: flex;
    flex-direction: row;
}
#Testimonials .test-words{
    margin-left: 4%;
}

#Testimonials .test-words h4{
    
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: #6692d4;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
    letter-spacing: 0.75px;
    margin-top: 16rem;


}
#Testimonials .test-words h3{
    color: #333333;
    font-size: 2.3rem;
}
#Testimonials .test-words .top .top-1 img{
    border-radius: 50%;
    width: 13%;
    margin-bottom: 20px;}

#Testimonials .test-words .top .top-1 .top-1-words{   
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-right: 40px;
    margin-bottom: 9rem;


}
#Testimonials .test-words .top .top-1 .top-1-words .after-1{
    margin-top: 20px;
    color: #333333;
    font-size: 1rem;
}
#Testimonials .test-words .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Testimonials .test-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 900px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    margin-right: 0;
}
#Testimonials .test-images img{
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
#Testimonials .test-images img:hover{
transform: scale(1.05);}



#Pricing{
    background-color:#fff;
}
#Pricing .pricing-packs {
    display: flex;
    flex-direction: row;
}
#Pricing span{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #6692d4;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
    letter-spacing: 0.75px;
    margin-top: 6rem;
    margin-left: 20%;

}
#Pricing .pricing-packs  h4{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #6692d4;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
    letter-spacing: 0.75px;
    margin-top: 1rem;

}



#Pricing .pricing-packs .pricing-1{
    margin-right: 15rem;
    margin-left: 20rem;
    border: 2px solid #fdf2e9;
    border-radius: 8px;
    padding: 3.0rem;
    width: 410px;
    height: 570px;
    margin-bottom: 2rem;



   
}

#Pricing .pricing-packs .pricing-2 h4{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #6692d4;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
    letter-spacing: 0.75px;
    margin-top: 1rem; 
}

#Pricing h1{
    color: #333333;
    font-size: 2.7rem;
    margin-left: 20%;
}
.dollars{
    font-size: 5.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

#Pricing .pricing-packs  p{
color: #6f6f6f;
font-size: 1.1rem;
margin-bottom: 2.5rem;
}
#Pricing .pricing-packs  li{
    list-style: none;
    margin-bottom: 1.3rem;
    color: #333333;
    font-size: 1.2rem;
}
#Pricing .pricing-packs  li i{
    color: #6692d4;
    margin-right: 1rem;
}
#Pricing .pricing-packs  .pricing-button{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #6692d4;
    border-radius: 10px;
    color: #fff; /* Font color set to white */
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 45px;
    margin-top: 3rem;
    margin-left: 3.5rem;
    
}

#Pricing .pricing-packs  .pricing-button:hover {
    background-color: #6692d4; /* Change background color on hover */
}   
#Pricing .end-sec{
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    margin-left: 30%;
    color: #333333;
}
#Pricing .pricing-packs .pricing-2 {
    background-color: #fdf2e9;
    border: 2px solid #fdf2e9;
    border-radius: 8px;
    padding: 3.0rem;
    width: 410px;
    height: 570px;
    margin-bottom: 2rem;
    position: relative; 
}

#Pricing .pricing-packs .pricing-2::after {
    content: "Best Value";
    position: absolute;
    top: 9%;
    right: -3%;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 700;
    color: #333;
    padding: 0.3rem 1.7rem;
    background-color: #ffd43b;
    transform: rotate(45deg);
}
#benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
}
#benefits .pecks i{
    color: #6692d4;
    font-size: 2.0rem;
    margin-bottom: 2rem;
    padding:2rem;
    background-color: #fdf2e9;
    border-radius: 50%;

}
#benefits .pecks p{
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: #333;

}
/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.logo {
    height: 2.2rem;
  }
  /**************************/
  /* HERO SECTION */
  /**************************/
  
  .section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
  }
  
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
  }
  
  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  
  .hero-img {
    width: 100%;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
  
  .gallery-item {
    overflow: hidden;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  


/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  
    padding: 4.8rem 0 12.8rem;
  }
  
  .cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
  
    background-image: linear-gradient(to right bottom, #6692d4, #6692d4);
    overflow: hidden;
  }
  
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
  }
  
  .cta .heading-secondary {
    color: inherit;
    margin-bottom: 3.2rem;
  }
  
  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }
  
  .cta-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(235, 151, 78, 0.35),
        rgba(230, 125, 34, 0.35)
      ),
      url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  }
  
  .cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  
  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .cta-form input::placeholder {
    color: #aaa;
  }
  
  .cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  }
  


/**************************/
/* FOOTER */
/**************************/

.footer {
    padding: 6rem 0;
    background-color: #6692d4; 
    color: #ecf0f1; 
    border-top: 1px solid #34495e; 
  }
  
  .grid--footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem; 
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .logo-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 2rem; 
  }
  
  .social-links {
    list-style: none;
    display: flex;
    gap: 1.5rem; 
  }
  
  .social-icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: #ecf0f1; 
    transition: fill 0.3s;
  }
  
  .social-icon:hover {
    fill: #3498db; 
  }
  
  .copyright {
    font-size: 1.4rem;
    line-height: 1.8; 
    color: #bdc3c7; 
    margin-top: 2rem; 
  }
  
  .footer-heading {
    font-size: 1.8rem;
    font-weight: 600; 
    color: #ecf0f1; 
    margin-bottom: 2rem; 
  }
  
  .contacts {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #bdc3c7; 
  }
  
  .address {
    margin-bottom: 1.5rem; 
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
  }
  
  .footer-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #ecf0f1; 
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #3498db; 
  }
  